{% load static %}
<link rel="icon" href="{% static 'images/favicons/favicon.png' %}" type="image/png" sizes="16x16">
<title>403 Forbidden</title>
<link rel="stylesheet" href="{% static 'css/error.css' %}">

<div class="error-page">
  <div>
    <h1 data-h1="403">403</h1>
    <p data-p="FORBIDDEN">FORBIDDEN</p>
  </div>
</div>
<div id="particles-js"></div>
<a class="back" href="{% url 'spa:index' %}">Home</a>

<script src="{% static 'js/particles.min.js' %}"></script>
<script src="{% static 'js/error.js' %}"></script>
