{% extends 'base.html' %}
{% block content %}

    <div class="hero-wrap js-fullheight">
      <div class="overlay"></div>
      <div id="particles-js"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Portfolio</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Portfolio</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section">
      <div class="container">
        <div class="row no-gutters justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Works</span>
            <h2 class="mb-4">View our works below to see our design and way of development.</h2>
          </div>
        </div>
        <div class="row">
          {% for project in projects %}
          <div class="block-3 d-md-flex ftco-animate" data-scrollax-parent="true">
            <a href="{{ project.url }}" class="image" style="background-image: url({{ project.image.url }}); " data-scrollax=" properties: { translateY: '-20%'}"></a>
            <div class="text">
              <h4 class="subheading">{{ project.category }}</h4>
              <h2 class="heading"><a href="{{ project.url }}">{{ project.title }}</a></h2>
              <p>{{ project.description }}</p>
              <p><a href="{{ project.url }}" class="btn btn-primary px-4">View</a></p>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="row mt-5">
          <div class="col text-center">
{#            <div class="block-27">#}
{#              <ul>#}
{#                <li><a href="#">&lt;</a></li>#}
{#                <li class="active"><span>1</span></li>#}
{#                <li><a href="#">2</a></li>#}
{#                <li><a href="#">3</a></li>#}
{#                <li><a href="#">4</a></li>#}
{#                <li><a href="#">5</a></li>#}
{#                <li><a href="#">&gt;</a></li>#}
{#              </ul>#}
{#            </div>#}
          </div>
        </div>
      </div>
    </section>
{% endblock %}
